<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 text-left">
    <h2>
      <span style="color:#000000">Kristy</span>
      <span style="color:#1FDFEF"> Stallings</span>
    </h2>
    <div class="container">
      <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
      <link rel="stylesheet" type="text/css" href="nav-menu.component.css">
      <li><ion-icon src="/static/logo-github.svg"></ion-icon></li>
      <li><ion-icon src="/static/logo-linkedin.svg"></ion-icon></li>
      <li><ion-icon src="/static/logo-twitter.svg"></ion-icon></li>
      </div>
