

<div class="header">
  <div class="logo">
    <span style="color:#000000">Kristy</span>
    <span style="color:#1FDFEF"> Stallings</span>
  </div>
  <div class="menu">
    <a href="#" class="link">
      <a href="https://medium.com/@kristystallings">
      <img src="https://img.icons8.com/ios-filled/40/000000/medium-monogram.png"/>
      </a>
      <div class="bar"></div>
    </a>
    <a href="#" class="link">
      <a href="https://github.com/Kristy-Stallings">
      <img src="https://img.icons8.com/fluent-systems-filled/40/000000/github.png"/>
      </a>
      <div class="bar"></div>
    </a>
    <a href="#" class="link">
      <a href="https://www.linkedin.com/in/kristy-stallings/">
      <img src="https://img.icons8.com/android/30/000000/linkedin.png"/>
      </a>
      <div class="bar"></div>
    </a>
  </div>
</div>


