<app-nav-menu></app-nav-menu>
<br>
<br>
<section class="success" id="Intro">
    <div class="container">
        <div class="row">
            <div class="terminal">
                <div class="css-typing">
                    <p>
                        <span id="a">KS@Build</span>:<span id="b">~</span>
                        <span id="c">$</span>
                        git init<br>
                    </p>
                    <p>
                        <span id="a">KS@Build</span>:<span id="b">~</span>
                        <span id="c">$</span>
                        echo Hello >> AboutKristy.md<br>
                    </p>
                    <p>
                        First off,
                        <span id="c">Tell your dog I said Hi!</span>
                    </p>

                    <p>
                        I enjoy helping teams deliver software from source control to end-users.<br>
                    </p>

                    <p>
                        I am currently a DevOps Engineer by day and a Computer Science student by night.<br>
                    </p>

                    <p>
                        You can view my work experience here:
                        <a href="https://www.linkedin.com/in/kristy-stallings/">LinkedIn</a>.<br>
                    </p>

                    <p>
                        Feel free to send me an email at<a href="KristyStallings@outlook.com">
                            KristyStallings@outlook.com</a>.<br>
                    </p>

                    <p>
                        <span id="a">KS@Build</span>:<span id="b">~</span>
                        <span id="c">$</span>
                        git add AboutKristy.md<br>
                    </p>

                    <p>
                        <span id="a">KS@Build</span>:<span id="b">~</span>
                        <span id="c">$</span>
                        git commit -m "add DevOps enthusiast that loves dogs, books, and coffee."
                    </p>
                </div>
            </div>


            <!-- About Section -->
            <section class="success" id="About">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2></h2>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <!-- Experience Section -->
                    <section class="success" id="experience">
                      <div class="container">
                            <div class="row">
                                <div class="col-lg-12 text-left">
                                    <h2>
                                        <span style="color:#000000" style="font-size:30px" style="font-family:Dosis" style="font-weight:800">Current</span>
                                        <span style="font-size:30px" style="font-family:Dosis" style="font-weight:800"><span style="color:#1FDFEF"> Skills</span></span>
                                    </h2>
                                    <hr class="star-light">
                                  </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="center col-lg-4">
                                    <ul>
                                        <li>Server Configuration</li>
                                        <li>Git</li>
                                        <li>Taco Eating</li>
                                        <li>Microsoft Azure</li>
                                    </ul>
                                </div>
                                <div class="center col-lg-4">
                                    <ul>
                                        <li>CI/CD</li>
                                        <li>iOS/Windows</li>
                                        <li>Coffee Drinking</li>
                                        <li>Azure DevOps</li>
                                    </ul>
                                </div>

                                <div class="center col-lg-4">
                                    <ul>
                                        <li>Scrum</li>
                                        <li>Google Searches</li>
                                        <li>Release Management</li>
                                        <li>Production Management</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                    <br>
                    <br>
                    <br>
                    <!-- Projects Section -->
                    <section class="success" id="projects">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 text-left">
                                    <h2>
                                        <span style="color:#000000" style="font-size:30px" style="font-family:Dosis" style="font-weight:800">Personal</span>
                                        <span style="font-size:30px" style="font-family:Dosis" style="font-weight:800"><span style="color:#1FDFEF"> Projects</span></span>
                                    </h2>
                                    <hr class="star-light">
                                </div>
                                <div class="row row-cols-1 row-cols-md-3">
                                    <div class="col mb-3">
                                        <div class="card">
                                           <img src="https://dsm01pap001files.storage.live.com/y4muQoGBpTbIyAOdJUoMcBvYkTi8pBoFXpGo4JcW-WzUs7GVFhTRRYhpNCBFZK0wfBezzlkGovMLNRMcZfahwJ2lWbm0RUxT_bh3mbsyJt2RcmbNN5awnVdOTDRbvAcR1pjk98cB9hklFULNxhA9qoYFB27_4M7gSKVXAV17z3QzDSWtXuhErT-Ki55xGl8gxwz?width=256&height=116&cropmode=none" width="256" height="116" />
                                            <div class="card-body">
                                                <h5 class="card-title">KristyStallings.com</h5>
                                                <p class="card-text">
                                                    This portfolio page uses Angular and TypeScript with Bootstrap for layout and styling. <b>Repo:</b> Github <b>CI:</b> Netifly.
                                                    <br>
                                                    <br>
                                                    <img src="https://api.netlify.com/api/v1/badges/da1695dc-006b-4440-8b2b-161d4f276216/deploy-status">
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col mb-3">
                                      <div class="card">
                                          <img src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80" class="card-img-top" alt="..." title="Photo by Christopher Gower on Unsplash">
                                          <div class="card-body">
                                              <h5 class="card-title">SiriuslyPrecious.com</h5>
                                              <p class="card-text">Excuse the mess, work in progress!</p>
                                          </div>
                                        </div>
                                    </div>   
                                    <div class="col mb-3">
                                      <div class="card">
                                          <img src="https://images.unsplash.com/photo-1457305237443-44c3d5a30b89?ixlib=rb-1.2.1&auto=format&fit=crop&w=1353&q=80" class="card-img-top" alt="..." title="Photo by Farzad Nazifi on Unsplash">
                                          <div class="card-body">
                                              <h5 class="card-title">Coming Soon</h5>
                                              <p class="card-text">Excuse the mess, work in progress!</p>
                                          </div>
                                        </div>
                                    </div>

                                    <section class="success" id="experience">
                                        <div class="container">
                                              <div class="row">
                                                  <div class="col-lg-12 text-left">
                                                      <h2>
                                                          <span style="color:#000000" style="font-size:30px" style="font-family:Dosis" style="font-weight:800">Current</span>
                                                          <span style="font-size:30px" style="font-family:Dosis" style="font-weight:800"><span style="color:#1FDFEF"> Training</span></span>
                                                      </h2>
                                                      <hr class="star-light">
                                                    </div>
                                                </div>
