<!-- Header Section -->
<img
  src="https://wfnuia.dm.files.1drv.com/y4mnKNnaV--EZU5vuxXAvbrvfVOk0i0RBp0kyJUy0LfAQUdkCKX0TxOaEhGc6N6vF-Fx45PTgLYY6JfFKdqVJx6W1sjzvT1V9fKkjJIDQiJY_5EMc0Pp3CV6fr0SporrmyTXDsFjggp4qsenTU92JRN7X1yMYwlApF8WNDqDGbNyfOWIYmXCbWGBjPfg5MLO5kRQxPfO5DXccIuER2DiTUUqA?width=1968&height=1283&cropmode=none"
  title="Photo by Frank Mckenna on Unsplash" width="100%" height="400">

<br>
<br>
<!-- About Section -->
<section class="success" id="About">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>
          <span style="color:#000000">About</span>
          <span style="color:#1FDFEF"> Me</span>
        </h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>
          Welcome, As you can gather from above - my name is Kristy Stallings,
          and I enjoy taking software from source control to end-users. I found
          my passion for software delivery after I took part in brutal manual software
          deployment. You know the type riddled with human mistakes and configuration issues.
          For some reason, the software only works on the development machine but not in any other environment.
          It becomes a game of spot the infrastructure difference. I never knew my Where's Waldo? skills
          would pay off so much in my career field. Is it weird that experience drove me to start a career in this field, Probably.
          Most sane people would run away at warp speed after that experience.
        </p>
      </div>
      <div class="col-lg-4">
        <p>
          I got satisfaction after all the hard work to get everything up and running to see a fully functioning
          webpage finally, but I wanted to help improve the process. I quickly discovered all the issues in the
          manual deployment process I would like never to repeat. I looked through the list of the problems to
          work on, and it all came back to the same thing for improvements - automate it! I would love to
          pretend that some scripts were put in place, and everything just worked... but that wasn't the case.
          The first few attempts at an automated deployment were working through the errors. 
          I spent an absurd amount of time reading deployment logs.
        </p>
      </div>
      <div class="col-lg-4">
        <p>
          I went by the rule new errors equal PROGRESS! After numerous attempts, I saw the beautiful green checkmark of a successful deployment,
           and I was rewarded with working software. The team's efficiency with the automated pipeline was staggering. We
          went from manual deployments that could take days down to minutes for each deployment. I became hooked
          on automation. After that, I discovered the DevOps world, and I fell in love with the mindset for
          continuous improvement. Plus, the TOYS... I mean tools. Since then, I have been soaking in as much
          knowledge and experience as I can for the past three years. I have no plans to slow down.
        </p>
      </div>
    </div>
  </div>
</section>
<br>
<br>
<!-- Experience Section -->
<section class="success" id="experience">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>
          <span style="color:#000000">Current</span>
          <span style="color:#1FDFEF"> Experience</span>
        </h2>
        <hr class="star-light">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="center col-lg-4">
        <ul>
          <li>SCM</li>
          <li>Git/TFVC</li>
          <li>Microsoft Azure</li>
        </ul>
      </div>
      <div class="center col-lg-4">
        <ul>
          <li>CI/CD</li>
          <li>iOS/Windows</li>
          <li>Azure DevOps/TFS</li>
        </ul>
      </div>
      
      <div class="center col-lg-4">
          <ul>
          <li>Scrum</li>
          <li>Release Management</li>
          <li>Production Management</li>
          </ul>
      </div>
    </div>
  </div>
</section>
<br>
<br>
<!-- Projects Section -->
<section class="success" id="projects">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>
          <span style="color:#000000">Personal</span>
          <span style="color:#1FDFEF"> Projects</span>
        </h2>
        <hr class="star-light">
      </div>
      <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
          <div class="card">
            <img
              src="https://images.unsplash.com/photo-1461749280684-dccba630e2f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"
              class="card-img-top" alt="..." title="Photo by Ilya Pavlov on Unsplash">
            <div class="card-body">
              <h5 class="card-title">Work Portfolio</h5>
              <p class="card-text">
                This portfolio page uses ASP.NET Core and C# for cross-platform server-side code,
                Angular and TypeScript for client-side code, and Bootstrap for layout and styling. 
                It is built on Azure DevOps pipeline using a Docker container, pushed to Azure Container Registry, and deployed to Azure Web App for containers.
                <br>
                <br>
                <img src="https://dev.azure.com/KristyStallings/Portfolio/_apis/build/status/KristySPortfolio%20-%20CI">
              </p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <img
              src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80"
              class="card-img-top" alt="..." title="Photo by Christopher Gower on Unsplash">
            <div class="card-body">
              <h5 class="card-title">Coming Soon</h5>
              <p class="card-text">Excuse the mess, work in progress!</p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <img
              src="https://images.unsplash.com/photo-1593642532871-8b12e02d091c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1600&q=80"
              class="card-img-top" alt="..." title="Photo by XPS on Unsplash">
            <div class="card-body">
              <h5 class="card-title">Coming Soon</h5>
              <p class="card-text">Excuse the mess, work in progress!</p>
            </div>
          </div>
        </div>